#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: 2px;
  color: $button-yellow1;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $button-yellow-action;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

  &.pink {
    background-color: $color-purple;

    &:hover {
      background-color: shade($color-purple, 20%);
    }
  }

  &.yellow {
    background-color: $button-yellow;

    &:hover {
      background-color: $button-yellow-action;
      color: $button-yellow1;
    }
  }

  &.blue {
    background-color: $color-blue;

    &:hover {
      background-color: shade($color-blue, 20%);
    }
  }

  &.small {
    padding: 14px 40px 18px 36px;
  }
}
