.text-center {
  text-align: center;
}

.bg-white {
  background-color: $color-white;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-dark-brown {
  background-color: $color-dark-brown;
}

.bg-gray {
  background-color: $color-gray-f8;
}
