.box-image {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;

  @media #{$small} {
    flex-direction: column;
  }

  .box-left {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 51px 55px;
    width: 50%;

    @media #{$large} {
      padding: 51px 105px 67px 55px;
      width: 40%;
    }

    @media #{$medium} {
      padding: 40px;
    }

    @media #{$small} {
      order: 2;
      padding: 20px;
      width: 100%;
    }

    article {
      color: $color-white;
      margin-bottom: 2em;

      a {
        color: $color-light-purple;
        display: block;
        font-size: em(18px);
        font-weight: 700;
        margin-bottom: 8px;
        text-decoration: none;

        &:hover,
        &:active {
          color: shade($color-light-purple, 10%);
        }
      }

      h2 {
        font-size: em(48px);
        line-height: 1.15;
        margin-bottom: 20px;

        @media #{$medium} {
          font-size: 2.5em;
        }
      }

      p {
        font-size: em(18px);
        padding-left: 5px;
      }
    }

    .action {
      padding-left: 5px;
    }
  }

  .box-right {
    background-color: $color-gray-ef;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 508px;
    position: relative;
    width: 50%;

    @media #{$large} {
      width: 60%;
    }

    @media #{$medium} {
      height: auto;
    }

    @media #{$small} {
      padding-bottom: 56%;
      width: 100%;
    }
  }
}
