.browserupgrade {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333;
    box-shadow: inset 0px -5px 10px -4px rgba(0, 0, 0, .15);
    padding: 10px 20px;
    background: #FFD34E;
    width: 100%;
}