# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore cache
.sass-cache
.cache

# Ignore .DS_store file
.DS_Store

# Ignore logs
/log
*.log

# Templorary files
tmp/